NEXT_PUBLIC_SUPABASE_URL=https://sroueifbjlvmbvrehbxt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyb3VlaWZiamx2bWJ2cmVoYnh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzAyODI0NTIsImV4cCI6MTk4NTg1ODQ1Mn0.gdXRUQ7dKpQmSwg4g451JsYkv71KTz3NzySatqF3ny8